<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender - includes exception stack traces -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Silence JGit logging - it logs too much at lower levels -->
        <Logger name="org.eclipse.jgit" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Application loggers -->
        <Logger name="xyz.block.artifactswap" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Root logger - level can be set programmatically via Configurator.setRootLevel() -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
